In [1]:
[a,b]=[10,20]

In [2]:
a

10

In [3]:
b

20

In [4]:
(c,d)= (1,2)

In [5]:
c

1

In [6]:
d

2

In [7]:
tuple = 10,20,30,40
tuple

(10, 20, 30, 40)

In [8]:
x,y,z = 11,22,33

In [9]:
x

11

In [10]:
y

22

In [11]:
z

33

In [12]:
type(tuple)

tuple

In [13]:
type(tuple)

tuple

In [14]:
t = 10,20,30,40
type(t)

tuple

In [15]:
t

(10, 20, 30, 40)

In [16]:
x,y,z = 11,22,33

In [17]:
x,y = 11,22
y,x = x, y
x

22

In [18]:
y

11

In [21]:
def test():
    return (10,20)

a,b = test() #tuple값을 리턴
print(f"a={a},b={b}")
print(b)

a=10,b=20
20

In [22]:
list = ['a','b','c','d']
for i, value in enumerate(list):  #함수로 튜플 반환
    print(f"i = {i}, value = {value}")

i = 0, value = a
i = 1, value = b
i = 2, value = c
i = 3, value = d

In [24]:
def get_formatted_name(first_name, last_name) :
    """실제 이름을 깔끔한 형식으로 반환합니다."""
    full_name = f"{first_name}{last_name}"
    return full_name.title()

while True:
    print("\nPlease tell me your name:")
    f_name = input("First name:")
    l_name = input("Last name:")

    formatted_name = get_formatted_name(f_name, l_name)
    print(f"\nHello, {formatted_name}!")

Please tell me your name:

Hello, !

Please tell me your name:

Hello, !

Please tell me your name:

Hello, !

Please tell me your name:

Hello, !

Please tell me your name:

Hello, !

Please tell me your name:

In [ ]:
unprinted_designs = ['phone case', 'robot pendant','dodecahedron']
completed_models = []

while unprinted_designs :
    current_design = unprinted_designs.pop()
    print(f"Printing model: {current_design}")
    completed_models.append(current_design)

print("\nThe followeing models have been printed:")
for completed_model in completed_models:
    print(completed_model)